/* from: https://gist.github.com/andyferra/2554919 */

blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777;
  margin: 15px 0;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}
