@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital@0;1&display=swap');

:root {
  --grey-accent-color: hsl(0, 0%, 93%);
  --area-corner-radius: 10px;
  --accent-color-100: hsl(298, 58%, 72%);
  --accent-color-100: hsl(298, 58%, 72%);
}

body {
  max-width: 80%;
  margin: auto;
  margin-top: 25px;
  font-family: 'Noto Sans Display';
}

hr {
  height: 4px;
  background-color: var(--grey-accent-color);
  border: none;
}

p {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: clamp(1rem, calc(12px + 0.5vw), 1.2rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter';
  page-break-after: avoid;
  position: relative;
}

h1 {
  font-size: clamp(2rem, calc(12px + 2.5vw), 2.6rem);
}

/* h1:hover::before {
  content: 'h1';
  color: var(--grey-accent-color);
  position: absolute;
  left: -0.5rem;
  font-size: 0.75em;
} */

h2 {
  font-size: clamp(1.6rem, calc(12px + 1.8vw), 2rem);
}

h3 {
  font-size: clamp(1.3rem, calc(12px + 1.35vw), 1.7rem);
}

h4 {
  font-size: clamp(1.2rem, calc(12px + 0.9vw), 1.35rem);
}
